/config.h.in
/install-sh
/modules
/Makefile.fragments
/Makefile
/Makefile.global
/testext.la
/config.sub
/include
/testext.lo
/config.status
/testext_keyclient.lo
/missing
/.deps
/configure
/aclocal.m4
/config.nice
/ltmain.sh
/autom4te.cache
/configure.in
/run-tests.php
/.libs
/Makefile.objects
/mkinstalldirs
/acinclude.m4
/libtool
/config.h
/config.guess
/build
/config.log
